{% extends "layout.html" %}
{% block content %}
<!-- Title -->
<h1 class="text-h2-lightblue">N-Grams Smoothing</h1>
<div class="content" id="experiment-article-section-6-content">
	<!-- Body -->
	<b><u>STEP 1: </u> &nbsp; </b>Select a corpus<br/><br/>
	<b><u>STEP 2: </u> &nbsp; </b>Apply add one smoothing and calculate bigram probabilities using the given bigram counts,N and V. Fill the table and hit
	<button>Submit</button><br/><br/>
	<b><u>STEP3:</u> &nbsp;  </b>If incorrect (red), see the correct answer by clicking on show answer or repeat Step 2 <br/> <br/><hr>
</hr><br>
</div>
{% endblock %}
