{% extends "layout.html" %} {% block content %}

<!-- Body -->
	<p>
		<!-- Question 1 -->
		<b>Q1.</b> Add-one smoothing works horribly in practice because of giving too much probability mass to unseen n-grams. Prove using an example. <br/><br>
		<form method="POST" action="/Quizzes/submit">
		<input type="text" name="answer1" placeholder="Type your Answer here" size="150"><br><br>
		<!-- Question 2 -->
		<b>Q2.</b> In Add-δ smoothing, we add a small value 'δ' to the counts instead of one. Apply Add-δ smoothing to the below bigram count table where δ=0.02.<br/><br/>
		<!-- Table -->
		<div style="overflow-x:auto;">
		<table border="1" cellpadding="4" cellspacing="-2" id="quiz-smoothing" style="text-align:center">
			<tr>
				<td></td>
				<td><b> &nbsp; (eos) &nbsp; </b></td>
				<td><b> &nbsp; John &nbsp;</b></td>
				<td><b> &nbsp; read &nbsp;</b></td>
				<td><b> &nbsp; Fountainhead &nbsp;</b></td>
				<td><b> &nbsp; Mary &nbsp;</b></td>
				<td><b> &nbsp; a &nbsp;</b></td>
				<td><b> &nbsp; different &nbsp;</b></td>
				<td><b> &nbsp; book &nbsp;</b></td>
				<td><b> &nbsp; She &nbsp;</b></td>
				<td><b> &nbsp; by &nbsp;</b></td>
				<td><b> &nbsp; Dickens &nbsp;</b></td>
			</tr>
			<tr>
				<td><b>(eos)</b></td>
				<td>0</td><td>300</td>
				<td>0</td><td>0</td>
				<td>300</td><td>0</td>
				<td>0</td><td>0</td>
				<td>300</td><td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td><b> John</b></td>
				<td>0</td><td>0</td>
				<td>300</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td><b> read</b></td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>300</td>
				<td>0</td>
				<td>600</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td><b> Fountainhead</b></td>
				<td>300</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td><b> Mary</b></td>
				<td>0</td>
				<td>0</td>
				<td>300</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td><b> a</b></td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>300</td>
				<td>300</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td><b> different</b></td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>300</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td><b> book</b></td>
				<td>300</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>300</td>
				<td>0</td>
			</tr>
			<tr>
				<td><b> She</b></td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>300</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td><b> by</b></td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>300</td>
			</tr>
			<tr>
				<td><b> Dickens</b></td>
				<td>300</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
		</table>
		</div>
		<br/>
		<p style="font-size:130%">N = 5100   V = 11</p><br/>
		<input type="text" name="answer2" placeholder="Type your Answer here" size="150"><br><br>
		<!-- Question 3 -->
		<b>Q3.</b> Given S = Dickens read a book, find P(S) <br/><br>
		<input type="radio" name="answer3" value="1" checked> using unsmoothed probability <br>
		<input type="radio" name="answer3" value="2"> applying Add-One smoothing. <br>
		<input type="radio" name="answer3" value="3"> applying Add-δ smoothing <br>
		<br>
		<input type="submit" value="Submit">
		</form>
	</p>

{% endblock %}
